.edit-board {
  position: fixed;
  width: 12vw;
  height: 12vh;
  border: solid 1px black;
  border-radius: 15px;
  background-color: #f3f7f8;
  top: 22vh;
  left: 80vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.buttons {
  display: flex;
}