#loginPage {
  background-color: #f3f7f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  & > img {
    width: 500px;
    height: auto;
  }
  & > div{
    & > button {
      margin: 5px;
      width: 200px;
      height: 50px;
      border-radius: 40px;
      background-color: #3B8B78;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }
}

